adlsetlbracellrandd/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "adlsetlbracellrandd"
		},
		"AzureDatabricks_Zone007_accessToken": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'accessToken' de 'AzureDatabricks_Zone007'"
		},
		"LSBlobStorageBrewZone007_connectionString": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'connectionString' de 'LSBlobStorageBrewZone007'"
		},
		"AzureDatabricks_Zone007_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0718-192454-fwv3kqn3"
		},
		"LSAPIConRestZone007_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.openbrewerydb.org/v1/breweries"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_Zone007')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "APItoParquet",
				"activities": [
					{
						"name": "Data Load Bronze",
						"description": "Data Load Bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['brewery_type']"
										},
										"sink": {
											"name": "brewery_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['address_1']"
										},
										"sink": {
											"name": "address_1",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['address_2']"
										},
										"sink": {
											"name": "address_2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['address_3']"
										},
										"sink": {
											"name": "address_3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['city']"
										},
										"sink": {
											"name": "city",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['state_province']"
										},
										"sink": {
											"name": "state_province",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['postal_code']"
										},
										"sink": {
											"name": "postal_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['country']"
										},
										"sink": {
											"name": "country",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['longitude']"
										},
										"sink": {
											"name": "longitude",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['latitude']"
										},
										"sink": {
											"name": "latitude",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['phone']"
										},
										"sink": {
											"name": "phone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['website_url']"
										},
										"sink": {
											"name": "website_url",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['state']"
										},
										"sink": {
											"name": "state",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['street']"
										},
										"sink": {
											"name": "street",
											"type": "String"
										}
									}
								],
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "DsApiBronzeZone007",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DsParquetBronzeZone007",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DF_Load_Bronze_Check",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Data Load Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/henrique@facilitamuito.com.br/CZ_DW/CZ_DW_TMSIngestion"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_Zone007",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DsApiBronzeZone007')]",
				"[concat(variables('factoryId'), '/datasets/DsParquetBronzeZone007')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_Zone007')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Gold_Zone007')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DfGoldAgregation",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DfGoldZone007",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source": {},
									"sinkgold": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DfGoldZone007')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Silver_Zone007')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DfSilverLocationPartitionZone007",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DfSilverZone007",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcebronzeparquetzone007": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Load_Silver_Check",
						"description": "DF_Load_Silver_Check",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "DfSilverLocationPartitionZone007",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/henrique@facilitamuito.com.br/CZ_DW/CZ_DW_TMSIngestion_Silver"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_Zone007",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DfSilverZone007')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_Zone007')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsApiBronzeZone007')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSAPIConRestZone007",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSAPIConRestZone007')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsParquetBronzeZone007')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSBlobStorageBrewZone007",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "bronze",
						"folderPath": "Bronze",
						"container": "dlbrewregion007"
					},
					"compressionCodec": "none"
				},
				"schema": [
					{
						"name": "id",
						"type": "UTF8"
					},
					{
						"name": "name",
						"type": "UTF8"
					},
					{
						"name": "brewery_type",
						"type": "UTF8"
					},
					{
						"name": "address_1",
						"type": "UTF8"
					},
					{
						"name": "address_2",
						"type": "UTF8"
					},
					{
						"name": "address_3",
						"type": "UTF8"
					},
					{
						"name": "city",
						"type": "UTF8"
					},
					{
						"name": "state_province",
						"type": "UTF8"
					},
					{
						"name": "postal_code",
						"type": "UTF8"
					},
					{
						"name": "country",
						"type": "UTF8"
					},
					{
						"name": "longitude",
						"type": "UTF8"
					},
					{
						"name": "latitude",
						"type": "UTF8"
					},
					{
						"name": "phone",
						"type": "UTF8"
					},
					{
						"name": "website_url",
						"type": "UTF8"
					},
					{
						"name": "state",
						"type": "UTF8"
					},
					{
						"name": "street",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSBlobStorageBrewZone007')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsSilverlocationPartitionedZone007')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LSBlobStorageBrewZone007",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "location",
						"folderPath": "Silver",
						"container": "dlbrewregion007"
					},
					"compressionCodec": "none"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSBlobStorageBrewZone007')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_Zone007')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5665704831281694.14.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_Zone007_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks_Zone007_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSAPIConRestZone007')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "LS API Con Rest Zone 007",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LSAPIConRestZone007_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSBlobStorageBrewZone007')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "LSBlobStorageBrew Zone 007",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LSBlobStorageBrewZone007_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/A_BronzeBrewZone007Load')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "A_BronzeBrewZone007Load",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Bronze_Zone007",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 6,
						"startTime": "2023-11-30T15:00:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Bronze_Zone007')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/A_GoldTriggerZone007')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "A_GoldTriggerZone007",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Gold_Zone007",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 6,
						"startTime": "2023-12-13T14:34:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Gold_Zone007')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/A_SilverTriggerZone007')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Silver_Zone007",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 6,
						"startTime": "2023-12-13T15:15:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Silver_Zone007')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DfGoldZone007')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "LSBlobStorageBrewZone007",
								"type": "LinkedServiceReference"
							},
							"name": "source"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "LSBlobStorageBrewZone007",
								"type": "LinkedServiceReference"
							},
							"name": "sinkgold"
						}
					],
					"transformations": [
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          name as string,",
						"          brewery_type as string,",
						"          address_1 as string,",
						"          address_2 as string,",
						"          address_3 as string,",
						"          city as string,",
						"          state_province as string,",
						"          postal_code as string,",
						"          country as string,",
						"          longitude as string,",
						"          latitude as string,",
						"          phone as string,",
						"          website_url as string,",
						"          state as string,",
						"          street as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet',",
						"     container: 'dlbrewregion007',",
						"     folderPath: 'Bronze',",
						"     fileName: 'bronze') ~> source",
						"source aggregate(groupBy(city,",
						"          brewery_type),",
						"     storesquantity = count(name)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     container: 'dlbrewregion007',",
						"     folderPath: 'Gold',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinkgold"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSBlobStorageBrewZone007')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DfSilverZone007')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "LSBlobStorageBrewZone007",
								"type": "LinkedServiceReference"
							},
							"name": "sourcebronzeparquetzone007"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DsSilverlocationPartitionedZone007",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          name as string,",
						"          brewery_type as string,",
						"          address_1 as string,",
						"          address_2 as string,",
						"          address_3 as string,",
						"          city as string,",
						"          state_province as string,",
						"          postal_code as string,",
						"          country as string,",
						"          longitude as string,",
						"          latitude as string,",
						"          phone as string,",
						"          website_url as string,",
						"          state as string,",
						"          street as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     limit: 100,",
						"     ignoreNoFilesFound: true,",
						"     format: 'parquet',",
						"     container: 'dlbrewregion007',",
						"     folderPath: 'Bronze',",
						"     fileName: 'bronze',",
						"     partitionBy('key',",
						"          0,",
						"          city",
						"     )) ~> sourcebronzeparquetzone007",
						"sourcebronzeparquetzone007 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          city",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LSBlobStorageBrewZone007')]",
				"[concat(variables('factoryId'), '/datasets/DsSilverlocationPartitionedZone007')]"
			]
		}
	]
}